tdm-book.*.pdf
tdm-book.*.mobi
tdm-book.*.epub
tdm-book.*.html
tdm-book-*.epub
*.swp
latex/*
!latex/makepdf
!latex/README.markdown
!latex/template.tex
!latex/config.yml
epub/temp
*~
.#*
*/*.session
.DS_Store
.project
site/ebook/*
site/translations/*
site/book/*
site/figures
site/_site
