
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<title>Takari | Takari Extensions for Apache Maven TEAM -
  Documentation</title>

<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
  content="Takari is focused on continuous delivery for the Maven ecosystem and offers Apache Maven training classes">
<meta name="author" content="takari.io">
<meta property="twitter:account_id" content="4503599627980362">

<!-- CSS Global Compulsory-->
<link rel="stylesheet"
  href="http://d1qmdf3vop2l07.cloudfront.net/takari.io/compressed/f9404a916de3a7ae8f0cd71476e4f117.css">
<link rel="stylesheet"
  href="http://d1qmdf3vop2l07.cloudfront.net/takari.io/compressed/221411937962ef085e8f75a9f11b1978.css">
<link rel="stylesheet"
  href="http://d1qmdf3vop2l07.cloudfront.net/takari.io/compressed/a11fa98d11f45bfde7a7eb50e3011f04.css">
<link rel="shortcut icon"
  href="http://d1qmdf3vop2l07.cloudfront.net/takari.io/optimised/favicon-1408655572000.ico">
<!-- CSS Implementing Plugins -->
<link rel="stylesheet"
  href="http://d1qmdf3vop2l07.cloudfront.net/takari.io/compressed/1654e7cac5269ca96de09de7b7ea8edc.css">
<link rel="stylesheet"
  href="http://d1qmdf3vop2l07.cloudfront.net/takari.io/compressed/b5d15b4c5e5dbab06c4ee046697688cc.css">
<link rel="stylesheet"
  href="http://d1qmdf3vop2l07.cloudfront.net/takari.io/compressed/a4b1af32e757033b94c04cb341436d79.css">
<!-- Syntax Highlighting -->
<link rel="stylesheet"
  href="http://d1qmdf3vop2l07.cloudfront.net/takari.io/compressed/88259176f5cfba0b4007c4d30b5867aa.css">

<!-- GA -->
<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46352323-1', 'takari.io');
      ga('send', 'pageview');

    </script>
</head>

<body>
  <div class="wrap">
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-responsive-collapse">
              <span class="sr-only">Toggle navigation</span> <span
                class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> <img id="logo-header"
              src="http://d1qmdf3vop2l07.cloudfront.net/takari.io/optimised/takari_logo-1408655572000.png"
              alt="Takari">
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div
            class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class=""><a href="/aboutus.html">About Us</a></li>
              <li class=""><a href="/training.html">Training</a></li>
              <li class=""><a href="/events.html">Events</a></li>
              <li class=""><a href="/community.html">Community</a></li>
              <li class=""><a href="/blog.html">Blog</a></li>
              <li class="active"><a href="/book/index.html" class="cc-active">Documentation</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 20px;">
    <h1>Takari Extensions for Apache Maven TEAM - Documentation</h1>
    <p><a href="index.html">Table of Contents</a>
      | <a href="../ebook/team-book.en.pdf">PDF format</a>
      | <a href="../ebook/team-book.en.epub">epub format</a>
      | <a href="../ebook/team-book.en.mobi">mobi format</a>
    </p>
    
    {{ content }}
    </div>
  </div>
  <div class="stickyFooter">
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 md-margin-bottom-40">
            <!-- Monthly Newsletter -->
            <div class="headline">
              <h2>Newsletter</h2>
            </div>
            <p>Subscribe to our newsletter and stay up to date with
              the latest news and events!</p>
            <a href="/newslettersignup.html">
              <button class="btn-u" type="button">Subscribe</button>
            </a>
          </div>
          <!--/col-md-4-->

          <div class="col-md-4 md-margin-bottom-40">
            <!-- Monthly Newsletter -->
            <div class="headline">
              <h2>Contact Us</h2>
            </div>
            <address class="md-margin-bottom-40">
              Takari HQ <br> Guelph, ON, CA <br> Fax: 1 519
              489 1329 <br> Email: <a href="mailto:team@takari.io"
                class="">team@takari.io</a>
            </address>
          </div>
          <div class="col-md-4">
            <div class="headline">
              <h2>Stay Connected</h2>
            </div>
            <ul class="social-icons">
              <li><a
                href="http://d1qmdf3vop2l07.cloudfront.net/takari.io/optimised/rss-1408655571000.xml"
                data-original-title="Feed" class="social_rss"
                target="_blank"></a></li>
              <li><a href="https://www.facebook.com/takari.io"
                data-original-title="Facebook" class="social_facebook"
                target="_blank"></a></li>
              <li><a href="http://twitter.com/takari_io"
                data-original-title="Twitter" class="social_twitter"
                target="_blank"></a></li>
              <li><a
                href="https://plus.google.com/u/0/b/113247990055413254822/113247990055413254822/posts"
                data-original-title="Google Plus"
                class="social_googleplus" target="_blank"></a></li>
              <li><a href="https://github.com/takari"
                data-original-title="Github" class="social_github"
                target="_blank"></a></li>
              <li><a href="http://instagram.com/takari_io#"
                data-original-title="Instagram" class="social_instagram"
                target="_blank"></a></li>
              <li><a
                href="http://www.youtube.com/channel/UCOvO2AfBTJXGj8xaVf2yccw"
                data-original-title="YouTube" class="social_youtube"
                target="_blank"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="copyright-space">
              2014 &copy; Takari Inc. ALL Rights Reserved. <a
                href="/privacypolicy.html">Privacy Policy</a>
            </p>
          </div>
          <div class="col-md-6">
            <a href="/"> <img id="logo-footer"
              src="http://takari.io/assets/img/logo2-default.png"
              class="pull-right" alt="" style="display: none;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- JS Global Compulsory -->
  <script type="text/javascript"
    src="http://d1qmdf3vop2l07.cloudfront.net/takari.io/compressed/5c039f3e12b42579ef5682cbe7c78ea8.js"></script>
  <script type="text/javascript"
    src="http://d1qmdf3vop2l07.cloudfront.net/takari.io/compressed/ff6bfad178c29cd8dd6c1ae4e063b041.js"></script>
  <script type="text/javascript"
    src="http://d1qmdf3vop2l07.cloudfront.net/takari.io/compressed/fdb8adcf85becc97f224198ebea6905c.js"></script>
  <script type="text/javascript"
    src="http://d1qmdf3vop2l07.cloudfront.net/takari.io/compressed/65229fab62fd1469a8c15ac55b32c0a7.js"></script>
  <script type="text/javascript"
    src="http://d1qmdf3vop2l07.cloudfront.net/takari.io/compressed/5472ae44082106c6e567b3a467302efc.js"></script>
  <!-- JS Implementing Plugins -->
  <script type="text/javascript"
    src="http://d1qmdf3vop2l07.cloudfront.net/takari.io/compressed/ae12832ff7a6c6d5800e6f5f03181324.js"></script>
  <script type="text/javascript"
    src="http://d1qmdf3vop2l07.cloudfront.net/takari.io/compressed/e01d74593abd4ddf82c14d843cfc6e54.js"></script>
  <script type="text/javascript"
    src="http://d1qmdf3vop2l07.cloudfront.net/takari.io/compressed/ae854b24d957dab3c8588f78443bf519.js"></script>
  <!-- JS Page Level -->
  <script type="text/javascript"
    src="http://d1qmdf3vop2l07.cloudfront.net/takari.io/compressed/17ecd2fadefb346ff726b61f8530e5b0.js"></script>
  <script type="text/javascript"
    src="http://d1qmdf3vop2l07.cloudfront.net/takari.io/compressed/4eed2022a94d65188c4ad21037fc7b1d.js"></script>
  <script type="text/javascript">
      jQuery(document).ready(function() {
      App.init();
      App.initSliders();
      Index.initParallaxSlider();
      });
    </script>
  <!--[if lt IE 9]>
        <script src="/assets/plugins/respond.js"></script>
    <![endif]-->
</body>
</html>
